<app-user-header></app-user-header>
<div class="container mt-5" style="margin-top:100px ;" >
   
<form  class="form-group" #mdForm="ngForm">
    <div class="row">
    <div class="col" >
        <label>
            No of Stocks to buy:
            
        </label>
        <input type="number" id="stocks" [(ngModel)]="stocks" name="stocks" min="0" class="form-control" required>
    </div>

    <div class="col" >
        <label>Candle Interval:</label>
        <select name="interval" class="form-control" [(ngModel)]="interval" required="">
            <option value="1 min">1 min</option>
            <option value="3 min">3 min</option>
            <option value="5 min">5 min</option>
            <option value="10 min">10 min</option>
            <option value="15 min">15 min</option>
            <option value="1 hour">1 hour</option>
          </select>
    </div>
    
    
    <br>
    <div class="col" >
        <label>
            No of Cycles:
            
        </label>
        <input type="number" id="cycles" [(ngModel)]="cycles" name="cycles" min="1" class="form-control" required>
    </div>
</div>
<div class="row"><div class="col">
    <label>
        Start time:
       
    </label>
    <input type="time" id="StartTime" [(ngModel)]="StartTime" name="StartTime" min="09:00" max="17:00" class="form-control" required>
</div>
<div class="col" >
    <label>
        End time:
       
    </label>
    <input type="time" id="EndTime" [(ngModel)]="EndTime" name="EndTime" min="09:00" max="17:00" class="form-control" required>
</div>

<br><br>
<div class="col" >
    <input [(ngModel)]="term" (ngModelChange)="fetchList($event)"  class="form-control" required placeholder="Search Symbol" />
    <input type="text"  name="symbol" id="symbol" [(ngModel)]="symbol" required="" class="form-control"  disabled=""/>
    <ul class="list-group">
    <li *ngFor="let item of list" class="list-group-item" style="cursor: pointer;"  (click)="setSymbol(item.symbol, item.id)">
        {{ item.name }} <span class="badge badge-dark">{{item.symbol}}</span>
    </li>
    </ul>
</div></div>
<div class="row mt-3" >
    <div class="col">
        <label>
            Target price percent:
            
        </label>
        <input type="number" id="targetPercent" [(ngModel)]="targetPercent" name="targetPercent" step="0.01" min="0" class="form-control" required>
    </div>
    <div class="col">
        <label>
             Stop Loss percent:
            
        </label>
        <input type="number" id="stopLoss" [(ngModel)]="stopLoss" name="stopLoss" step="0.01" min="0" class="form-control" required>
    </div>
</div>

<div class="row"><div class="col">
    <button type="button" class="btn btn-info" (click)="submitMeta()" [disabled]="mdForm.invalid">Next</button>
  
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
    Error
</div>
</div>
</form>
</div>